*{ 
    margin: 0%;
     padding: 0%; 
} 
body{ 
    background: linear-gradient(to right, #030637,#3C0753,#720455,#910A67);
    
} 
     h2{
     font-size: 70px text-aling 
     center;
     color: azure;
}

p{  
    font: size 30px;
    color: aquamarine;
 }
.cabecalho{ 
    background-color: #c21919; 
    padding: 30px; }
 h2{ 
     text-align: center;
      font-size: 75px;
      color: rgb(33, 194, 18); }  