*{ 
    margin: 0%;
    padding: 0%; 
} 
body{ 
    background: linear-gradient(to right, #030637,#3C0753,#720455,#910A67);
    
} 
     h2{
     font-size: 70px text-aling 
     center;
     color: rgb(14, 228, 228);
}

p{  
    font: size 30px;
    color: rgb(235, 20, 127);
 }
.cabecalho{ 
    background-color: #cc1616; 
    padding: 30px; }
 h2{ 
     text-align: center;
      font-size: 75px;
      color: rgb(29, 87, 212); }  